<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @vote.email %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @vote.party_id %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
